$color_1: #666;
$background-color_1: #333333;

.footer {
	background-color: $background-color_1;
	padding: 10px;
	margin: 0;
	color: $color_1;
	font-size: 14px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
	justify-content: center;
	align-items: center;
	.redes {
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.final {
		font-size: 14px;
		text-align: center;
	}
}
